.input {
  background: transparent;
  text-align: center;
  font-size: 20px;
  border: 2px solid transparent;
  border-bottom: 2px solid var(--primary);
  padding: 8px;
  color: var(--text-default);
  outline: none;
  transition: all 0.1s ease-in-out;
}

.input:focus {
  border: 2px solid var(--primary);
  border-radius: 8px;
}

input:disabled {
  border-bottom: 2px solid var(--disabled);
  color: var(--text-muted);
}

.input::placeholder {
  color: var(--gray-500);
  font-size: 14px;
  font-style: italic;
}

.label {
  font-size: 18px;
  margin-bottom: 10px;
}
